@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #141024;
}

::-webkit-scrollbar-thumb {
    background: #2d2354;
    overflow: hidden;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #352966;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141024;
    padding: 38px 100px 0 100px;

    .logo {
        color: #FFF;
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-decoration: inherit;
        /* 48px */
    }

    .navigation {
        display: flex;
        gap: 40px;
    }

    .navigation a {
        color: #FFF;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-decoration: inherit;
        /* 32px */
    }

    .navigation a:hover {
        color: #fff0ab;
    }

    .link-num a {
        color: #FFF;
        text-align: right;
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 48px */
        text-decoration: inherit;
    }
}

/* Header */

header {
    height: 1015px;
    flex-shrink: 0;
    background: #141024;

    .wrapper {
        padding-top: 200px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
    }

    .head_wrapper {
        display: block;
        margin-top: -87px;
    }

    .head_wrapper h1 {
        color: #FFF;
        font-family: Jost;
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        margin-bottom: 20px;
        /* 112px */
    }

    .head_wrapper p {
        width: 478px;
        color: #FFF;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 50px;
        /* 32px */
    }

    /* --- */

    .head-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 5px;
        background: #D52027;
    }

    .head-btn a {
        color: #fff;
        padding: 25px 54px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 28.8px */
        transition: box-shadow .4s ease-in-out;
    }

    .head-btn a:hover {
        box-shadow: -2px 2px 2px #666666;
    }

    /* --- */

    .head_wrap {
        width: 783px;
        height: 783px;
        flex-shrink: 0;
        border-radius: 783px;
        border: 80px solid #FFF;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img_wrap {
        background-image: url(/img/img1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 515.525px;
        height: 907.485px;
        flex-shrink: 0;
        position: relative;
        top: -30px;
    }
}

/* About_school */

.about_school {
    display: block;
    margin-top: 120px;
    margin-left: 380px;
    margin-bottom: 120px;

    .about {
        width: 891px;
        margin-bottom: 60px;
    }

    .about h3 {
        color: #141024;
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .about span {
        color: #141024;
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 48px */
    }

    /* --- */

    .about_static {
        display: flex;
        gap: 52px;
    }

    .static {
        display: block;
    }

    .static span {
        color: #D52027;
        font-family: Jost;
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 112px */
    }

    .static p {
        color: rgba(20, 16, 36, 0.70);
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 28.8px */
    }
}

/* Bonus wrap */

.bonus_wrap {
    height: 485px;
    flex-shrink: 0;
    background: #F9F9F9;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 381px;

    .title_bonus {
        color: #141024;
        font-family: Jost;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        padding-bottom: 60px;
        /* 80px */
    }

    /* --- */

    .bonus_static {
        display: flex;
        gap: 40px;
    }

    .bonus span {
        color: #141024;
        font-family: Jost;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 38.4px */
    }

    .bonus p {
        color: rgba(20, 16, 36, 0.70);
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 28.8px */
    }

    /* --- */
    .frame2 {
        display: flex;
        gap: 10px;

    }

    .bonus_frame2 {
        background-image: url(/img/frame2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        cursor: pointer;
    }

    .frame {
        display: inline-flex;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        position: relative;
        top: -70px;
        width: 300px;
        background: #FFF;
        box-shadow: 0px 2px 8px 0px rgba(20, 16, 36, 0.10);
        display: none;
    }

    .bonus_frame2:hover .frame {
        display: block;
    }

    .frame-p {
        color: #141024;
        text-align: center;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 25.6px */
    }
}

/* about_treners */

.about_treners {
    display: block;
    margin-top: 120px;
    margin-left: 381px;
    margin-bottom: 120px;

    .title_treners {
        color: #141024;
        font-family: Jost;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 80px */
    }

    .slide_bar-treners {
        display: flex;
        flex-direction: row;
    }

    .slide {
        margin-right: 40px;
        margin-top: 60px;
        width: 80%;
        border-radius: 20px;
    }

    .slide h3 {
        color: #141024;
        font-family: Jost;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 38.4px */
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .slide p {
        color: rgba(20, 16, 36, 0.70);
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 28.8px */
        padding-bottom: 20px;
    }

    .slide a {
        color: #D52027;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        line-height: 160%;
        /* 28.8px */
    }


    /* ----- */

    .line-slide {
        display: flex;
        align-items: center;
        margin-top: 77px;
        gap: 700px;
    }

    .lines {
        display: block;
    }

    .line-1234 {
        width: 360px;
        height: 5px;
        flex-shrink: 0;
        border-radius: 40px;
        background: rgba(20, 16, 36, 0.08);
        cursor: pointer;
    }

    .line-123 {
        width: 260px;
        height: 5px;
        flex-shrink: 0;
        border-radius: 40px;
        background: #141024;
    }

    .btn-slide {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        gap: 10px;
        align-items: center;
        flex-shrink: 0;
    }

    .btn-slide button {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        cursor: pointer;

        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: black;
        color: white;

        transition: .3s;
    }

    .btn-slide p {
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }

    .btn-slide button:active {
        background-color: white;
        color: #000;
        border: 1px solid;
    }

    /* --- */

    .slide_bar-treners {
        display: flex;
        overflow-x: hidden;
        transition: all .5s ease-in-out;
    }

    .slide,
    .lisa {
        margin-right: 40px;
        margin-top: 60px;
        width: 23.3%;
        position: relative;
        border-radius: 20px;
    }

    /* Скрытие Ирины Лайм и Лизы Весенней */
    .irina-hidden {
        display: none;
    }

    .lisa-on {
        display: block;
        width: 360px;
        height: 500px;
        border-radius: 20px;
    }


}

/* Product */

.product {
    display: block;
    margin-top: 138px;
    margin-left: 381px;
    margin-bottom: 120px;

    .product-title h3 {
        color: #141024;
        font-family: Jost;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        margin-bottom: 80px;
        /* 80px */
    }

    .product_card {
        display: flex;
        gap: 40px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 360px;
        height: 460px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid rgba(20, 16, 36, 0.20);
        transition: .5s;
    }

    .product-title {
        color: none;
        text-align: center;
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        margin-top: 40px;
        /* 48px */
    }

    .product-price {
        color: none;
        text-align: center;
        font-family: Jost;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 80px */
        margin-top: 63px;
    }

    .card span {
        width: 250px;

        color: none;
        text-align: center;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 28.8px */
        margin-top: 20px;
    }

    .product-btn {
        margin-top: 61px;
    }

    .first {
        margin-top: 32px;
    }

    .product-btn button {
        display: flex;
        width: 280px;
        padding: 25px 54px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: #D52027;
        border: none;

        color: #FFF;
        text-align: center;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 28.8px */
    }

    .card:hover {
        background: #141024;
        color: #FFF;
        transform: scale(1.1);
    }

}

/* Footer */

footer {
    background: #D52027;
    padding-top: 87px;
    padding-bottom: 87px;

    .foot-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 144px;
    }

    .foot-wrap {
        display: block;
    }

    .foot-title {
        width: 476px;

        color: #FFF;
        font-family: Jost;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        /* 46.8px */
        margin-bottom: 20px;
    }

    .foot-text {
        color: #FFF;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 26px */
    }

    /* --- */

    .foot-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input {
        width: 500px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #F6F6F6;
        border: none;
    }

    ::placeholder {
        width: 299px;
        color: rgba(40, 41, 68, 0.70);
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 20px;
    }

    .foot-form button {
        width: 500px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #141024;
        border: none;

        color: #FFF;
        text-align: center;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

/* foot-end */

.foot-end {
    height: 159px;
    flex-shrink: 0;
    background: #141024;

    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;

    .end {
        display: block;
    }

    .end h3 {
        width: 478px;

        color: #FFF;
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        /* 48px */
        margin-bottom: 5px;
    }

    .end p {
        color: rgba(255, 255, 255, 0.70);
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 25.6px */
    }

    .end-num {
        display: block;
    }

    .end-num p {
        color: #FFF;
        text-align: right;
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 48px */
    }
}